{% extends 'base.html' %}
{% load custom_filters %}
{% block title %} | Welcome {% endblock %}
{% block content %}

<!-- Showcase -->
<section id="showcase">
    <div class="container text-center">
        <div class="home-search p-5">
            <div class="overlay p-5">
                <h1 class="display-4 mb-4">
                    Find Your Dream Property with Ease
                </h1>
                <p class="lead">
                    Discover the perfect home or investment opportunity with our extensive property listings. Search by location, budget, and features to find exactly what you need.
                </p>
                <div class="search">
                    <form action="{% url 'search' %}">
                        <!-- Form Row 1 -->
                        <div class="form-row">
                            <div class="col-12 col-md-4 mb-3">
                                <input type="text" name="keywords" class="form-control" placeholder="Search by keywords">
                            </div>
                            <div class="col-12 col-md-4 mb-3">
                                <input type="text" name="title" class="form-control" placeholder="Search by title">
                            </div>
                            <div class="col-12 col-md-4 mb-3">
                                <select name="city" class="form-control">
                                    <option selected>Locality (All)</option>
                                    {% for key, value in locality_choices.items %}
                                        <option value="{{ key }}">{{ value }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <!-- Form Row 2 -->
                        <div class="form-row">
                            <div class="col-12 col-md-6 mb-3">
                                <select name="bedrooms" class="form-control">
                                    <option selected disabled>Bedrooms (All)</option>
                                    {% for key, value in bedroom_choices.items %}
                                        <option value="{{ key }}">{{ value }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-12 col-md-6 mb-3">
                                <select name="price" class="form-control">
                                    <option selected disabled>Max Price (Any)</option>
                                    {% for key, value in price_choices.items %}
                                        <option value="{{ key }}">{{ value }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <button class="btn btn-secondary btn-block mt-4" type="submit">Search Properties</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Alerts -->
{% include 'partials/_alerts.html' %}
<!-- Listings -->
<section id="listings" class="py-5">
    <div class="container">
        <h3 class="text-center mb-3">Latest Listings</h3>
        <div class="row mt-4">
            {% if listings %}
                {% for listing in listings %}
                    <div class="col-12 col-sm-6 col-lg-4 mb-4 d-flex">
                        <div class="card listing-preview shadow-sm border-0 rounded-lg overflow-hidden d-flex flex-column" style="width: 100%; min-height: 100%;">
                            <div class="position-relative">
                                <img class="card-img-top" src="{{ listing.photo_main.url }}" alt="Property Image">
                                <div class="position-absolute top-0 start-0 m-2 p-2 bg-success text-white rounded" style="top: 10px; right: 10px;">
                                    ₹{{ listing.price | indian_currency }}
                                </div>
                            </div>
                            <div class="card-body d-flex flex-column flex-grow-1">
                                <h5 class="card-title text-primary text-center">
                                    <a href="{% url 'listing' listing.slug %}">{{ listing.title }}</a>
                                </h5>
                                <p class="text-center text-muted"><i class="fas fa-map-marker-alt text-secondary"></i> {{ listing.city }}, {{ listing.state }}, {{ listing.zipcode }}</p>
                                <hr>
                                <div class="d-flex justify-content-between text-secondary">
                                    <span><i class="fas fa-th-large"></i> {{ listing.sqft }} sqft</span>
                                    <span><i class="fas fa-car"></i> {{ listing.garage }} Garage</span>
                                </div>
                                <div class="d-flex justify-content-between text-secondary mt-2">
                                    <span><i class="fas fa-bed"></i> {{ listing.bedrooms }} Beds</span>
                                    <span><i class="fas fa-bath"></i> {{ listing.bathrooms }} Baths</span>
                                </div>
                                <hr>
                                <div class="mt-auto text-center">
                                    <a href="{% url 'listing' listing.slug %}" class="btn btn-primary btn-block">More Info</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="col-md-12">
                    <p class="text-center">No Listings Available</p>
                </div>
            {% endif %}
        </div>
    </div>
</section>

<!-- Services -->
<section id="services" class="py-5 bg-secondary text-white">
    <div class="container">
        <div class="row text-center">
            <div class="col-12 col-md-4 mb-3">
                <i class="fas fa-comment fa-3x mb-3"></i>
                <h3>Expert Consultation</h3>
                <p>Get tailored advice to find the perfect property that suits your needs and budget.</p>
            </div>
            <div class="col-12 col-md-4 mb-3">
                <i class="fas fa-home fa-3x mb-3"></i>
                <h3>Property Management</h3>
                <p>Comprehensive services to maintain and manage your real estate investments.</p>
            </div>
            <div class="col-12 col-md-4 mb-3">
                <i class="fas fa-suitcase fa-3x mb-3"></i>
                <h3>Buying & Selling</h3>
                <p>Simplified property transactions with expert guidance and market insights.</p>
            </div>
        </div>
    </div>
</section>

{% endblock %}
